*{
    margin:0;
    padding:0;
    border:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background: rgb(92, 92, 92)  url('img/tv.png');
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 1170px 1020px;
    background-attachment: fixed;
}

#monitor_btn{
    position: fixed;
    right: 27%;
    bottom:20%;
    z-index: 9999;
    width: 55px;
    height: 50px;
}
  
    .button_press{
        animation: button_press .1s linear infinite alternate;
    }
#keyboard{
    background: #998970;
    width: 350px;
    height: 90px;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%) skew(-5deg,0deg);
    border-radius: 10px;


    #spacebar{
        height: 35px;
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
    }
    #up_arrow{
        height: 30px;
        position: absolute;
        top: 0;
        right: 40px;
        transform: translateY(-10%);
    }
    #down_arrow{
        height: 35px;
        position: absolute;
        right: 40px;
        top: 50%;
        transform: translateY(-50%);
    }
    #left_arrow{
        height: 35px;
        position: absolute;
        top: 50%;
        right: 70px;
        transform: translateY(-50%);
    }

    #right_arrow{
        height: 35px;
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

}

#fullscreen{
    position: fixed;
    background: #000;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    span{
        color: #fff;
        font-size: 30px;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
}
canvas{
    top: 40%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    background: rgba(0,0,0,1);
    border-radius: 20px;

}
@keyframes bg{
    0%{
        background-position: 0 0;
        
    }
}

#menu{
    width: 800px;
    height: 600px;
    top: 40%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,1) url('img/bg.png');
    z-index: 100;
    display: block;
    background-size: 200%;
    background-position: 200% 0;
    animation: bg 20s linear infinite;
    border-radius: 20px;
    #buttons{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        img{
            width: auto;
            height: 100px;
            display: block;
            margin: 30px 0 60px 0;
            filter: invert(.3) drop-shadow(0 0 10px rgba(0, 67, 255,1));
            position: relative;
            left: 50%;
            transform: translateX(-50%);
             
        }
        #button{
            background-color: rgba(0,0,0,.8);
            width: 250px; height: 100px;
            border: 2px solid rgba(0, 67, 255,1);
            position: relative;
            left:50%;
            top: 50%;
            transform: translate(-50%,-50%);
            overflow: hidden;
            box-shadow: 0 0 30px rgba(0,0,0,.7);
            transition-duration: 1s;
            margin-bottom: 10px;
            .overlay{
                position:absolute;
                left: -100px;
                top:-100px;
                width: 400px;
                height: 400px;
                transform: rotateZ(30deg);
                border: 20px solid rgba(255,255,255,.8);
                background-image: linear-gradient(to left, rgba(0,0,0,1),rgba(100, 120, 150, 0.9));
            }
            #btn_text{
                position:absolute;
                left:50%;
                top: 50%;
                transform: translate(-50%,-50%);
                filter: drop-shadow(0 0 10px rgba(0, 67, 255,1));
                color: white;
                font-size: 50px;
            }
        }
        #button:hover{
            transition-duration: .5s;
            transform:  translate(-50%,-50%) scale(1.2);
            box-shadow: 0 0 30px rgba(0,0,0,1);
	    }
    }

	


	
    }

#splash_screen{
        width: 800px;
        height: 600px;
        top: 40%;
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
        display: block;
        z-index: 99;
        animation: splash 2s linear;
        opacity: 1;
        background: #000;
        background-image: radial-gradient(rgba(0, 67, 255,1), #000 80%) ;
        background-size: 0% 0%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        border-radius: 20px;
        span{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 60px;
            color: white;
            animation: splash 2s linear;
        }
    }

@keyframes splash{
    0%{
        opacity: 1;
        z-index: 101;
    }
    50%{
        opacity: 1;
        z-index: 101;
    }
    99%{
        opacity: 0;
        z-index: 101;
        background-size: 100% 100%;
    }
    100%{
        z-index: 99;

    }
}

@keyframes button_press{
    100%{
        transform: translateY(-10px);
    }
}

@media (max-height: 1000px) {
    #monitor_btn{
   
    bottom:16%;

}
}