* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background: #5c5c5c url("img/tv.png");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 1170px 1020px;
  background-attachment: fixed;
}

#monitor_btn {
  position: fixed;
  right: 27%;
  bottom: 20%;
  z-index: 9999;
  width: 55px;
  height: 50px;
}

.button_press {
  -webkit-animation: button_press .1s linear infinite alternate;
          animation: button_press .1s linear infinite alternate;
}

#keyboard {
  background: #998970;
  width: 350px;
  height: 90px;
  position: fixed;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%) skew(-5deg, 0deg);
          transform: translateX(-50%) skew(-5deg, 0deg);
  border-radius: 10px;
}

#keyboard #spacebar {
  height: 35px;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#keyboard #up_arrow {
  height: 30px;
  position: absolute;
  top: 0;
  right: 40px;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

#keyboard #down_arrow {
  height: 35px;
  position: absolute;
  right: 40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#keyboard #left_arrow {
  height: 35px;
  position: absolute;
  top: 50%;
  right: 70px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#keyboard #right_arrow {
  height: 35px;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#fullscreen {
  position: fixed;
  background: #000;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

#fullscreen span {
  color: #fff;
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

canvas {
  top: 40%;
  left: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid black;
  background: black;
  border-radius: 20px;
}

@-webkit-keyframes bg {
  0% {
    background-position: 0 0;
  }
}

@keyframes bg {
  0% {
    background-position: 0 0;
  }
}

#menu {
  width: 800px;
  height: 600px;
  top: 40%;
  left: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: black url("img/bg.png");
  z-index: 100;
  display: block;
  background-size: 200%;
  background-position: 200% 0;
  -webkit-animation: bg 20s linear infinite;
          animation: bg 20s linear infinite;
  border-radius: 20px;
}

#menu #buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#menu #buttons img {
  width: auto;
  height: 100px;
  display: block;
  margin: 30px 0 60px 0;
  -webkit-filter: invert(0.3) drop-shadow(0 0 10px #0043ff);
          filter: invert(0.3) drop-shadow(0 0 10px #0043ff);
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#menu #buttons #button {
  background-color: rgba(0, 0, 0, 0.8);
  width: 250px;
  height: 100px;
  border: 2px solid #0043ff;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  margin-bottom: 10px;
}

#menu #buttons #button .overlay {
  position: absolute;
  left: -100px;
  top: -100px;
  width: 400px;
  height: 400px;
  -webkit-transform: rotateZ(30deg);
          transform: rotateZ(30deg);
  border: 20px solid rgba(255, 255, 255, 0.8);
  background-image: -webkit-gradient(linear, right top, left top, from(black), to(rgba(100, 120, 150, 0.9)));
  background-image: linear-gradient(to left, black, rgba(100, 120, 150, 0.9));
}

#menu #buttons #button #btn_text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: drop-shadow(0 0 10px #0043ff);
          filter: drop-shadow(0 0 10px #0043ff);
  color: white;
  font-size: 50px;
}

#menu #buttons #button:hover {
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
          transform: translate(-50%, -50%) scale(1.2);
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
}

#splash_screen {
  width: 800px;
  height: 600px;
  top: 40%;
  left: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  z-index: 99;
  -webkit-animation: splash 2s linear;
          animation: splash 2s linear;
  opacity: 1;
  background: #000;
  background-image: radial-gradient(#0043ff, #000 80%);
  background-size: 0% 0%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 20px;
}

#splash_screen span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 60px;
  color: white;
  -webkit-animation: splash 2s linear;
          animation: splash 2s linear;
}

@-webkit-keyframes splash {
  0% {
    opacity: 1;
    z-index: 101;
  }
  50% {
    opacity: 1;
    z-index: 101;
  }
  99% {
    opacity: 0;
    z-index: 101;
    background-size: 100% 100%;
  }
  100% {
    z-index: 99;
  }
}

@keyframes splash {
  0% {
    opacity: 1;
    z-index: 101;
  }
  50% {
    opacity: 1;
    z-index: 101;
  }
  99% {
    opacity: 0;
    z-index: 101;
    background-size: 100% 100%;
  }
  100% {
    z-index: 99;
  }
}

@-webkit-keyframes button_press {
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes button_press {
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@media (max-height: 1000px) {
  #monitor_btn {
    bottom: 16%;
  }
}
/*# sourceMappingURL=style.css.map */